body{
    background-color: black;
}

.container{
    margin: 100px 0 0 200px ;
    width: 70%;
    height: 450px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.container img{
width: 10%;
height: 100%;
object-fit: cover;
border-radius: 10px;
border: 2px solid rgb(255, 255, 255, 0.684);

transition: all ease-in-out 0.5s;
}

.container img:hover {
width: 25%;

}
@media screen and (min-width:300px){
    body{
        background-color: rgb(54, 168, 31);
    } 
    
    .container{
       margin-top: 50px;
       margin-left: 65px; 
    }
    .container img{
        width: 25%;
    }
    .container img:hover {
        width: 50%;
    }
}


@media screen and (min-width:400px){
    body{
        background-color: rgb(167, 168, 168);
    } 
    
    .container{
       margin-top: 70px;
       margin-left: 65px; 
    }
    .container img{
        width: 25%;
    }
    .container img:hover {
        width: 50%;
    }
}

@media screen and (min-width:420px){
    body{
        background-color: rgb(12, 100, 90);
    } 
    
    .container{
        margin-top: 90px;
        margin-left: 65px; 
    }
    .container img{
        width: 20%;
    }
    .container img:hover {
        width: 70%;
    }
}

@media screen and (min-width:780px ) {
    
    body{
        background-color: rgb(145, 17, 96);
    }   

    .container{
        margin-top: 90px;
        margin-left: 150px; 
     }
     .container img{
         width: 25%;
     }
     .container img:hover {
         width: 50%;
     }

}



@media screen and (min-width:1200px ) {
    
body{
    background-color: rgb(22, 22, 110);
}

.container{
    margin-top: 90px;
    margin-left: 180px; 
 }
 .container img{
     width: 25%;
 }
 .container img:hover {
     width: 50%;
 }


}